name: 通用部署
on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string
        default: ${{ github.ref_name }}
      working-directory:
        required: false
        type: string
        default: 'deployment'

jobs:
  setup:
    name: 环境配置
    uses: ./.github/workflows/setup-env.yml
    with:
      branch: ${{ inputs.branch }}
      working-directory: ${{ inputs.working-directory }}
    
  network:
    name: 配置网络
    needs: setup
    uses: ./.github/workflows/docker-network.yml
    
  build:
    name: 构建镜像
    needs: setup
    uses: ./.github/workflows/docker-image.yml
    
  deploy:
    name: 部署容器
    needs: [setup, network, build]
    uses: ./.github/workflows/docker-container.yml
    
  cleanup:
    name: 清理镜像
    needs: deploy
    uses: ./.github/workflows/docker-cleanup.yml
    with:
      image-name: ${{ github.repository }}