name: Docker镜像管理
on:
  workflow_call:
    inputs:
      action:
        required: false
        type: string
        default: 'build'
      working-directory:
        required: false
        type: string
        default: 'deployment'

jobs:
  image:
    runs-on: ${{ github.ref_name }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    
    steps:      
      - name: 构建镜像
        if: inputs.action == 'build'
        run: |
          echo "[DEBUG] 加载环境变量..."
          source $GITHUB_WORKSPACE/.env || (echo "[ERROR] 环境变量加载失败"; exit 1)
          echo "[DEBUG] 开始构建Docker镜像"

          echo "[DEBUG] 执行Docker Compose构建..."
          docker compose build
          echo "[DEBUG] 镜像构建完成"